In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import numpy.random as nr
import math

%matplotlib inline

In [17]:
AW_data = pd.read_csv('AdvWorksCusts.csv')
print(AW_data.head())
AW_test = pd.read_csv('AW_test.csv')

   CustomerID Title  FirstName MiddleName LastName Suffix  \
0       11000   NaN        Jon          V     Yang    NaN
1       11001   NaN     Eugene          L    Huang    NaN
2       11002   NaN      Ruben        NaN   Torres    NaN
3       11003   NaN    Christy        NaN      Zhu    NaN
4       11004   NaN  Elizabeth        NaN  Johnson    NaN

          AddressLine1 AddressLine2         City StateProvinceName  ...  \
0      3761 N. 14th St          NaN  Rockhampton        Queensland  ...
1           2243 W St.          NaN      Seaford          Victoria  ...
2     5844 Linden Land          NaN       Hobart          Tasmania  ...
3     1825 Village Pl.          NaN   North Ryde   New South Wales  ...
4  7553 Harness Circle          NaN   Wollongong   New South Wales  ...

    BirthDate   Education    Occupation Gender MaritalStatus HomeOwnerFlag  \
0  1966-04-08  Bachelors   Professional      M             M             1
1  1965-05-14  Bachelors   Professional      M             S             0
2  1965-08-12  Bachelors   Professional      M             M             1
3  1968-02-15  Bachelors   Professional      F             S             0
4  1968-08-08  Bachelors   Professional      F             S             1

  NumberCarsOwned NumberChildrenAtHome  TotalChildren  YearlyIncome
0               0                    0              2        137947
1               1                    3              3        101141
2               1                    3              3         91945
3               1                    0              0         86688
4               4                    5              5         92771

[5 rows x 23 columns]